* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(219, 172, 235);
    background: linear-gradient(302deg, rgba(219, 172, 235, 1) 22%, rgba(128, 158, 228, 1) 63%, rgba(46, 46, 215, 1) 88%);
    background-image: url(images/registerbackground.jpg);
    background-size: cover;
}

.container {
    font-family: 'Kumbh Sans', sans-serif;
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(220, 16%, 99%);
    border-radius: 20px;
    text-align: center;
}

.container div {
    width: 100%;
    margin-top: 1em;
}

label {
    text-indent: 0.3em;
        text-align: left;
    display: inline-block;
    width: 90%;
}

input {
        font-family: 'Kumbh Sans',
        sans-serif;
width: 90%;
padding: 1em 0;
margin: 0.5em 0;
text-indent: 0.5em;
border: solid rgb(211, 209, 209) 0.5px;
border-radius: 5px;
}

h1,
p,
button {
    margin: 1em;
}


button {padding:0.7em 2em;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Kumbh Sans',
        sans-serif;
        background: rgb(28, 189, 54);

        border: 0 solid transparent;
        border-radius: 10px;
        color:white;
} 

@media (max-width: 500px){
.container{
    max-width: 90vw;
}
}